/* Genel sıfırlama */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.ako {
  color: red;
}

.qdms {
  color: blue;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.input-group button {
  width: 100%;
  padding: 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-group button:hover {
  background-color: #4682b4;
}

p {
  margin-top: 10px;
  font-size: 14px;
}

p a {
  color: #1e90ff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

#loginResult {
  margin-top: 20px;
}

#loginResult p {
  font-size: 16px;
  font-weight: bold;
}

.hidden {
  display: none;
}
